@import 'header.css';
@import 'aside.css';
@import 'footer.css';
@import 'info.css';
@import 'head-banner.css';
@import 'slides.css';
@import 'coming-soon.css';
@import 'webkit-scrollbars.css';
@import 'moz-scrollbars.css';
@import 'account.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway');

@font-face {
  font-family: 'Quantum';
  src: url('../fonts/Quantum.otf')
}

:root {
  --page-padding: 20px;
}

body {
  margin: 0;
  font-family: 'Raleway';
  color: white;
  background-color: #222;
}

main {
  margin-top: var(--header-height);
}

main.loaded {
  background-image: url('../imgs/animation.gif');
  background-size: cover;
  background-attachment: fixed;
}

section {
  padding: var(--page-padding);
  margin-bottom: 100px;
  background-color: black;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

section:last-of-type {
  margin: 0;
}

section:last-child {
  margin: 0;
}

.submenu {
  visibility: visible;
  position: absolute;
  cursor: default;
  opacity: 1;
  transition: visibility 0s, opacity 222ms;
}

.submenu.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 222ms, opacity 222ms;
}

p a {
  color: inherit;
  margin: 0;
  transition: color 250ms;
}

p a:hover {
  color: gray;
}

p a:active {
  color: darkgray;
}

a.invisible {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

h1.title{
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

#divider {
  text-shadow: 0 0 10px gray;
  padding: 0;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 0 1px gray;
  margin: 0;
}